.wrapper {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px 0;
  @media only screen and (max-width: 769px) {
    padding: 0;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: #4ebec0;
    }
  }
}
.ruler {
  width: 100%;
  height: 1px;
  background-color: rgb(216, 216, 216);
  // margin: 10px 0;
}
@media only screen and (min-width: 1025px) {
  .productCartInfo {
    display: grid;
    grid-template-columns: 1fr auto 120px;
    grid-gap: 10px;
    align-items: baseline;
  }
  .cartContainer {
    background-color: white;
    margin: 20px 50px;
    .header {
      font-size: 28px;
      font-weight: 600;
      padding: 20px 20px;
    }
    .cartList {
      padding: 10px 10px;
      .cartItem {
        display: grid;
        grid-template-columns: 30px 100px 1fr;
        grid-gap: 10px;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
        .deleteBtn {
          cursor: pointer;
          color: gray;
          &:hover {
            color: red;
          }
        }
        .productCartInfo {
          .quantityWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid gray;
            border-radius: 3px;
            justify-content: space-between;

            input {
              border: none;
              outline: none;
              width: 20px;
            }
            .btnDecrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-right: 1px solid gray;
            }
            .btnIncrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-left: 1px solid gray;
            }
          }
        }
      }
    }
    .titleCart {
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      .price {
        font-size: 30px;
        font-weight: 700;
        color: #4ebec0;
        margin-left: 30px;
      }
    }
    .checkoutActions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .checkoutBtn {
        padding: 10px 10px;
        background-color: #4ebec0;
        text-align: center;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 20px;
      }
      .continueBtn {
        color: #212529;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        background-color: white;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
        svg {
          margin-right: 5px;
        }
        &:hover {
          svg {
            margin-right: 7px;
          }
        }
      }
    }
    .noteWrapper {
      padding: 20px 10px;
      textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        outline: none;
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .productCartInfo {
    display: grid;
    grid-template-columns: 1fr auto 120px;
    grid-gap: 10px;
    align-items: baseline;
  }
  .cartContainer {
    background-color: white;
    margin: 20px 50px;
    .header {
      font-size: 28px;
      font-weight: 600;
      padding: 20px 20px;
    }
    .cartList {
      padding: 10px 10px;
      .cartItem {
        display: grid;
        grid-template-columns: 30px 100px 1fr;
        grid-gap: 10px;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
        .deleteBtn {
          cursor: pointer;
          color: gray;
          &:hover {
            color: red;
          }
        }
        .productCartInfo {
          .quantityWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid gray;
            border-radius: 3px;
            justify-content: space-between;

            input {
              border: none;
              outline: none;
              width: 20px;
              text-align: center;
            }
            .btnDecrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-right: 1px solid gray;
            }
            .btnIncrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-left: 1px solid gray;
            }
          }
        }
      }
    }
    .titleCart {
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      .price {
        font-size: 30px;
        font-weight: 700;
        color: #4ebec0;
        margin-left: 30px;
      }
    }
    .checkoutActions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .checkoutBtn {
        padding: 10px 10px;
        background-color: #4ebec0;
        text-align: center;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 20px;
      }
      .continueBtn {
        color: #212529;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        background-color: white;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
        svg {
          margin-right: 5px;
        }
        &:hover {
          svg {
            margin-right: 7px;
          }
        }
      }
    }
    .noteWrapper {
      padding: 20px 10px;
      textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        outline: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .cartContainer {
    background-color: white;

    margin: 0;
    .header {
      font-size: 28px;
      font-weight: 600;
      padding: 20px 20px;
    }
    .cartList {
      padding: 10px 10px;
      .cartItem {
        display: grid;
        grid-template-columns: 30px 100px 1fr;
        grid-gap: 10px;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
        .deleteBtn {
          cursor: pointer;
          color: gray;
          &:hover {
            color: red;
          }
        }
        .productCartInfo {
          .quantityWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid gray;
            border-radius: 3px;
            justify-content: space-between;

            input {
              border: none;
              outline: none;
              width: 20px;
            }
            .btnDecrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-right: 1px solid gray;
            }
            .btnIncrease {
              text-align: center;
              padding: 5px 12px;
              cursor: pointer;
              border-left: 1px solid gray;
            }
          }
        }
      }
    }
    .titleCart {
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      .price {
        font-size: 30px;
        font-weight: 700;
        color: #4ebec0;
        margin-left: 30px;
      }
    }
    .checkoutActions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .checkoutBtn {
        padding: 10px 10px;
        background-color: #4ebec0;
        text-align: center;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 20px;
      }
      .continueBtn {
        color: #212529;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        background-color: white;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
        svg {
          margin-right: 5px;
        }
        &:hover {
          svg {
            margin-right: 7px;
          }
        }
      }
    }
    .noteWrapper {
      padding: 20px 10px;
      textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        outline: none;
      }
    }
  }
  .productCartInfo {
    display: flex;
    flex-direction: column;
    .price {
      margin-top: 5px;
    }
    .quantityWrapper {
      width: 100px;
      margin-top: 5px;
    }
  }
}
