@import "tailwindcss/base";
@import "tailwindcss/components";

// /* Additional styles */
@import "../assets/styles/additional-styles/utility-patterns.scss";
@import "../assets/styles/additional-styles/range-slider.scss";
@import "../assets/styles/additional-styles/toggle-switch.scss";
// @import "../assets/styles/additional-styles/theme.scss";

@import "tailwindcss/utilities";
* {
  $primary-color: #4ebec0;
  margin: 0;
  // font-size: 13px;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none !important;
    color: black !important;
  }
}
input {
  outline: none;
}
.DraftEditor-editorContainer h1 {
  @apply text-4xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h2 {
  @apply text-3xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h3 {
  @apply text-2xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h4 {
  @apply text-xl;
  @apply font-semibold;
}
.DraftEditor-editorContainer h5 {
  @apply text-lg;
  @apply font-semibold;
}
.DraftEditor-editorContainer h6 {
  @apply text-sm;
  @apply font-semibold;
}
