.cartItemContainer {
    width: 100%;
    margin-bottom: 20px;
    .cartItem {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        .deleteBtn {
            cursor: pointer;
            color: gray;
            margin-right: 10px;
        }
        .img {
            margin-left: 10px;
            width: 70px;
            height: 100px;
            overflow: hidden;
            border-radius: 5px;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
            }
        }
        .productCartInfo {
            flex: 1;
            padding-left: 10px;
            .title {
                font-size: 16px;
                margin-bottom: 5px;
                color: #333;
                text-decoration: none;
                &:hover {
                    color: #4ebec0;
                    text-decoration: underline;
                }
            }
            .price {
                font-size: 14px;
                color: #4ebec0;
            }
            .quantityWrapper {
                display: flex;
                align-items: center;
                .btnDecrease,
                .btnIncrease {
                    padding: 5px;
                    cursor: pointer;
                    border: 1px solid gray;
                    background-color: transparent;
                }
                input {
                    border: 1px solid gray;
                    width: 40px;
                    text-align: center;
                    margin: 0 5px;
                }
            }
        }
    }
    .ruler {
        width: 100%;
        height: 1px;
        background-color: #e0e0e0;
    }
}