.readerContainer {
  height: 100vh;
  background-color: #31363f;
  .settingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    .chapterMenuButton {
      margin-left: 10px;
    }
    .darkModeContainer {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .highlighterContainer {
    option {
      display: flex;
      flex-direction: row;
      .title {
        margin-right: 5px;
      }
      .color {
        width: 50px;
        height: 50px;
        background-color: red;
      }
    }
  }
  .settingContainer {
    padding: 20px 20px;
  }
  .bookReaderContainer {
    height: 100vh;
  }
}

.colorPicker {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  &.colorPickerTextArea {
    border: none;
  }
}

.colorOption {
  margin-right: 10px;
}
// .epubReaderContainer {
//   display: flex;
//   flex-direction: column;
// }
.leftArrow {
  position: absolute;
  left: 3px;
  top: 59%;
  transform: translateY(-50%);
  color: white;
  z-index: 6000;
  width: 50px;
  height: 50px;
  background-color: #616367;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.5px solid rgb(163, 158, 158);
}

.rightArrow {
  position: absolute;
  right: 20px;
  top: 59%;
  transform: translateY(-50%);
  color: white;
  z-index: 6000;
  width: 50px;
  height: 50px;
  background-color: #616367;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.5px solid rgb(163, 158, 158);
}
.chapterMenu {
  max-height: 300px;
  overflow-y: scroll;
  li {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    &:hover {
      cursor: pointer;
      background-color: #dfdfdf;
    }
  }
}
