.profileContainer {
  font-size: 14px;
  background-color: #f5f5f5;
  .profileContent {
    margin: 10px 100px;
    .accountContainer {
      border-radius: 5px;
      background-color: #ffffff;
      margin-bottom: 10px;
      padding: 1.5rem 2.5rem;
      .accountBody {
        display: flex;
        .accountAvatar {
          img {
            width: 64px;
            height: 64px;
            border-radius: 5px;
            margin-right: 15px;
          }
        }
        .accountPanel {
          .accountInfo {
            display: flex;
            flex-direction: column;
            .top {
              display: flex;
              flex-direction: row;
              margin-bottom: 5px;
            }
            .title {
              margin-right: 20px;
              font-size: 1.5rem;
              margin-bottom: 0.4rem;
            }
            .auth {
              display: flex;
              flex-direction: row;
              font-size: 1rem;
              .type,
              .email {
                svg {
                  margin-right: 0.2rem;
                }
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 1.25rem;
                margin-bottom: 0.2rem;
              }
            }
            .followInfo {
              font-size: 1rem;
              display: flex;
              flex-direction: row;
              margin: 10px 0;
              .followItem {
                margin-right: 20px;
                background-color: #ededed;
                padding: 5px 20px;
                border-radius: 13px;
                cursor: pointer;
                transition: all 0.2s linear;
                &:hover {
                  background-color: #e0e0e0;
                }
                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
    .accountNav {
      display: flex;
      flex-direction: row;
      margin-top: 1.4rem;
      .navItem {
        margin-right: 1.8rem;
      }
    }
    .profileInfo,
    .myPostInfo,
    .readingGoalContainer {
      border-radius: 5px;
      background-color: #ffffff;
      margin-bottom: 10px;
      padding: 1.5rem 2.5rem;
      .uHead {
        background-color: #ededed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
        .updateBtn {
        }
      }
      .libraryHead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title {
          font-size: 17px;
          font-weight: 700;
        }
      }
      .libraryBody {
        margin-top: 15px;
      }
      .historyHead {
      }
    }
    .myPostInfo {
      .myPostList {
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        .postItem {
          margin-top: 10px;
          border-radius: 7px;
          width: 100%;
          height: auto;

          img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
          }
          .postTitle {
            font-weight: 600;
            padding: 10px;
          }
        }
      }
    }
  }

  td {
    .readBtn {
      background-color: rgb(181, 216, 245);
      color: rgb(33, 81, 120);
      width: fit-content;
      margin: auto;
      border-radius: 13px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: 700;
      transition: all 0.2s linear;
      &:hover {
        background-color: rgb(151, 200, 241);
      }
    }
  }
}

.bookLibImg {
  align-items: center;
  width: 80px;
  height: auto;
  margin: 10px 0;
}

.ruler {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  margin: 5px 0;
}

.title {
  font-size: 17px;
  font-weight: 700;
}

.changePasswordButton {
  background-color: #039b5c;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.changePasswordButton:hover {
  background-color: #0ebc0e;
}

.readingGoalBody {
  .readingGoalContent {
    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    .goalItem {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      label {
        font-size: 17px;
        padding-bottom: 7px !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .profileContent {
    margin: 60px 5px !important;
    .profileInfo {
      padding: 7px !important;
    }
  }
  .accountBody {
    flex-direction: column;
    .auth {
      flex-direction: column;
    }
  }
  .myPostInfo {
    .myPostList {
      display: flex !important;
      flex-direction: column;
      .postItem {
        margin-top: 10px;
        width: 100%;
        height: auto;
        img {
          border-radius: 10px;
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .postTitle {
          font-weight: 600;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .profileContent {
    margin: 20px 20px !important;
  }
  .myPostInfo {
    .myPostList {
      display: flex !important;
      flex-direction: column;
      .postItem {
        margin-top: 10px;
        width: 100%;
        height: auto;
        img {
          border-radius: 10px;
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .postTitle {
          font-weight: 600;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
